/* src/App.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2px;
  box-sizing: border-box;
  background: #FFFFFF; /* Ensure background matches Dashboard */
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .main-content {
    padding: 10px;
  }
}